html {
    background-color: darkorange;
}

.container {
    background-color: deepskyblue;
    margin: 5%;
    height: 500px;
}

.main {
    background-color: greenyellow;
    margin: 40px 60px 40px 60px;
    padding: 16px;
    font-size: 20px;
}

.main h1 {
    text-align: center;
}

.main p {
    text-align: center;
}